@{
  Layout = "apidocstemplate";
  Title = "Namespaces - " + Properties["project-name"];
  ViewBag.UrlName = "index";
}

<h1><a name="@Model.Name" class="anchor" href="#@Model.Name">@Model.Name</a></h1>

@foreach (var ns in Model.Namespaces)
{
  if (ns.Types.Length + ns.Modules.Length > 0)
  {
    <h2><a name="@ns.Name" class="anchor" href="#@ns.Name">@ns.Name Namespace</a></h2>
    <div>
      @RenderPart("part-nested", new {
         Types = ns.Types,
         Modules = ns.Modules
      })
    </div>
  }
}
