@inherits NancyRazorViewBase<Fake.Deploy.Web.Module.LoginModel>
@{
    ViewBag.Title = "Sign In";
    Layout = "_layout.cshtml";
}

@section scripts {
    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            max-width: 300px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }

            .form-signin .form-signin-heading,
            .form-signin .checkbox {
                margin-bottom: 10px;
            }

            .form-signin input[type="text"],
            .form-signin input[type="password"] {
                font-size: 16px;
                height: auto;
                margin-bottom: 15px;
                padding: 7px 9px;
            }
    </style>
}
<div class="form-signin">

    <div>
        @if (!string.IsNullOrEmpty(Model.Result))
        {
            <label class="control-label">@Model.Result</label>
        }
    </div>

    <form method="post" action="/account/login">
        <fieldset>
            @Html.AntiForgeryToken()
            <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
            <legend>Sign In</legend>
            <div class="control-group">
                <label class="control-label">Username</label>
                <div class="controls">
                    <input type="text" name="UserName" value="@Model.UserName" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Password</label>
                <div class="controls">
                    <input type="password" name="Password" value="@Model.Password" />
                </div>
            </div>

            <div class="control-group">
                <label class="checkbox">
                    Remember Me?
                    <input type="checkbox" name="RememberMe" checked="@Model.RememberMe" value="@Model.RememberMe" />
                </label>
            </div>

            <p>
                <button class="btn btn-large btn-success" type="submit">Log on</button>
            </p>
        </fieldset>
    </form>
</div>
