@model Fake.Deploy.Web.App.Model.Environment

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Environment</legend>
        <div>
            <p>@Html.LabelFor(e => e.Id)</p>
            <p>@Html.TextBoxFor(e => e.Id)</p>
        </div>
        <div>
            <p>@Html.LabelFor(e => e.Description)</p>
            <p>@Html.TextBoxFor(e => e.Description)</p>
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
