@model Fake.Deploy.Web.App.Model.Environment

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Environment</legend>

        @Html.HiddenFor(model => model.Id)
        <div>
            <p>@Html.LabelFor(e => e.Description)</p>
            <p>@Html.TextBoxFor(e => e.Description)</p>
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
