@model RavenDBMembership.MVC.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>

@using (Html.BeginForm("DoChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
    <div>
        <fieldset>
            <legend>Account Information</legend>

            <div class="control-group">
                <label class="control-label" for="environmentId">Old Password</label>
                <div class="controls">
                    @Html.PasswordFor(m => m.OldPassword)
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="environmentId">New Password</label>
                <div class="controls">
                    @Html.PasswordFor(m => m.NewPassword)
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="environmentId">Confirm Password</label>
                <div class="controls">
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>

            <p>
                <button class="btn btn-primary" type="submit"><i class="icon-ok-circle icon-white"></i>&nbsp;Change Password</button>
                <button class="btn btn-danger" type="reset"><i class="icon-remove icon-white"></i>&nbsp;Cancel</button>
            </p>
        </fieldset>
    </div>
}
