@model RavenDBMembership.MVC.Models.EditUserModel

@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit User</h2>

@using (Html.BeginForm("DoEditUser", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true, "Updating user was unsuccessful. Please correct the errors and try again.")
    <div>
        <fieldset>
            <legend>Account Information</legend>

            <div class="control-group">
                <label class="control-label" for="environmentId">Username</label>
                <div class="controls">
                    <input type="text" readonly="readonly" id="Username" name="Username" value="@Model.Username" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="environmentId">E-mail</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Email)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="environmentId">Roles</label>
                <div class="controls">
                    <ul>
                        @foreach (var role in Model.Roles)
                        {
                            <li>
                                <input type="checkbox" name="UserRoles" value="@role" @if (Model.UserRoles.Contains(role))
                                                                                      { <text> checked="checked"</text> } />
                                @role</li>
                        }
                    </ul>
                </div>
            </div>
            <p>
                <button class="btn btn-primary" type="submit"><i class="icon-ok-circle icon-white"></i>&nbsp;Save</button>
                <button class="btn btn-danger" type="reset"><i class="icon-remove icon-white"></i>&nbsp;Cancel</button>
            </p>
        </fieldset>
    </div>
}

